* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@charset= "UTF-8";

html {
  font-family: sans-serif;
}

body {
  margin: auto;
  max-width: 100em;
  min-width: 20em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "oxygen";
}

.top-header {
  height: 300px;
  text-align: center;
}

.top-header-logo {
  margin: 0.5em;
}

.top-nav {
  background-color: #612674;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.top-nav {
  margin: 0;
  padding: 0;
}

.top-nav a {
  color: white;
  text-decoration: none;
  padding: 1em;
  text-transform: uppercase;
}

.top-nav a:hover {
  background: #7c3792;
}

.top-content {
  background: #f6f6f6;
  text-align: center;
  padding: 18px;
}

.icon-play {
  height: 5em;
  display: none;
}

.icon-play img {
  max-width: 100%;
  max-height: 100%;
}

.top-content-title {
  color: #612674;
  font-size: 1.375em;
  margin: 1.375em;
}

.section-subsecundaria,
p {
  text-align: start;
}

.hidden {
  overflow: hidden;
}

.subtitle {
  font-size: 2em;
  color: #652e78;
  text-transform: uppercase;
}

.subtitle p {
  line-height: 1.25;
  color: #222;
}

.section-subtitle {
  font-size: 1.25em;
  color: #652e78;
  text-transform: uppercase;
}

.top-button-main {
  display: inline-block;
  padding: 0.5em 2em;
  color: white;
  background: #58c4c4;
  border-radius: 5px;
  font-size: 25px;
  border: none;
  margin-top: 50px;
}

.top-button-main:hover {
  background: #37a0a0;
}

.top-content-subtitle {
  color: #a87bb7;
  font-size: 1em;
  line-height: 1.5;
}
.top-content-title {
  margin-top: 100px;
}
.top-button {
  display: inline-block;
  padding: 0.5em 2em;
  color: white;
  background: #58c4c4;
  border-radius: 5px;
  font-size: 25px;
  border: none;
}

.top-button:hover {
  background: #37a0a0;
}

.maxwedth {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.top-button {
  margin-top: 18px;
  margin-bottom: 12px;
}

.icon-facebook {
  margin: 10px;
}

.icon-twitter {
  margin: 10px;
}

.icon-google-plus {
  margin: 10px;
}

.rede-content {
  padding-bottom: 0em;
  display: flex;
  justify-content: space-around;
  font-size: 3em;
  padding-top: 0px;
  background-color: #303d4c;
}

.rede-content > a {
  overflow: hidden;
}

.text {
  font-weight: bolder;
  color: white;
}

.article-main2 {
  padding: 20px;
  letter-spacing: 0.5px;
  line-height: 28px;
}

p {
  font-weight: bolder;
  letter-spacing: 0.5px;
  line-height: 28px;
}

.icon-stopwatch {
  font-size: 2em;
}

.icon-stats-bars2 {
  font-size: 2em;
}

.icon-clock {
  font-size: 2em;
}

.icon-cog {
  font-size: 2em;
}
.cleatfix::after {
  content: " ";
  display: block;
  clear: both;
}

.footer {
  padding: 12px;
  text-align: center;
  background: #1f2831;
}

.footer p {
  line-height: 1.25em;
  color: #ccc;
}

/*inicio do responsivo*/

@media screen and (min-width: 48.75em) {
  .top-header-logo {
    float: left;
  }

  .icon-play {
    display: block;
  }

  .top-header {
    height: 75px;
  }

  .top-nav {
    background-color: transparent;
    float: right;
    display: inline-block;
    margin-top: 35px;
  }

  .top-nav a {
    color: #612674;
    font-weight: bold;
  }

  .top-nav a:hover {
    background-color: #37a0a0;
  }

  .top-content {
    background-color: #7c3792;
  }

  .top-content-title,
  .top-content-subtitle {
    color: white;
  }

  .article-main1 {
    width: 44%;
    margin: 3%;
    float: left;
  }

  .article-main2 {
    text-align: left;
  }

  .top-button {
    float: right;
  }
  
}

@media screen and (min-width: 62.5em) {
  top-content {
    background: #521a66 url(../images/bg_topo_1198x670.jpg);
    background-position: center bottom;
    height: 20em;
    padding-top: 15em;
  }

}

@media screen and (min-width: 74em) {
  .top-content {
    background-image: url(../images/bg_topo_1600x1374.jpg);
    background-position: center bottom;
    padding: 19em 15em 10em;
    background-position: center top;
  }
  .article-main1 {
    width: 23%;
    margin: 1%;
  }

  .article-main2 {
    width: 48%;
    margin: 1%;
    float: right;
  }

  .clearfix::before .clearfix::after {
    content: " ";
    display: table;
  }

  .clearfix {
    clear: both;
  }

  .top-button {
    float: none;
  }

  .icon-play {
    height: 7em;
  }

  .section-secundaria {
    height: 300px;
    background-color: rgb(236, 234, 234);
  }

  .footer {
    padding-bottom: 100px;
  }

  .footer p {
    padding-top: 25px;
    text-align: center;
  }

}
